<!doctype html>
<html>
  <head>
    <title>Jegyzetek</title>
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
  </head>
  <body>
    <nav>
      <h1><a href='/'>Jegyzetek</a></h1>
      <% if (userid !== undefined) {%>
        <a href='/logout'>Kijelentkezés</a>
      <% } else { %>
        <a href='/login'>Bejelentkezés</a>
      <% } %>
    </nav>
