<!doctype html>
<html>
  <head>
    <title>Jegyzetek</title>
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
  </head>
  <body>
    <nav>
      <h1><a href='/'>Jegyzetek</a></h1>
      <a href='/login'>Bejelentkezés</a>
    </nav>
