<%- include('includes/header', {}); %>
<div id='header'>
  <h2>Regisztráció</h2>
</div>
<div id='main'>
  <form method='post'>
    <input required type='text' name='email' placeholder='E-mail cím'><br>
    <input required type='text' name='name' placeholder='Felhasználónév'><br>
    <input required type='password' name='password' placeholder='Jelszó'><br>
    <input type='submit' value='Regisztrálok'>
  </form>
</div>
<%- include('includes/footer', {}); %>
