<%- include('includes/header', {}); %>
<div id='header'>
  <input type='text' placeholder='Cím'>
</div>
<div id='main'>
  <form>
    <textarea placeholder='Szövegtörzs'></textarea>
    <input type='submit' value='Mentés'>
  </form>
</div>
<%- include('includes/footer', {}); %>
