<%- include('includes/header', {}); %>
<div id='header'>
  <input type='text' placeholder='Cím' form='new-note' name='title'>
</div>
<div id='main'>
  <form id='new-note' method='post'>
    <textarea required placeholder='Szövegtörzs' name='body'></textarea>
    <input type='submit' value='Mentés'>
  </form>
</div>
<%- include('includes/footer', {}); %>
